 <%- include('./partials/header.ejs') %>













<

      <div class="container">
        <div class="row">
          <div class="side-window hidden-xs hidden-sm col-md-4 col-lg-4">
            <img id="logo" src="../images/bird.png">
            <div id="user-info">
            <h2><%= list[list.length-1].name %></h2>
            <p>@uglyTweets.com</p>
          </div>
          </div>

      <div>

      </div>

        <div class="new-message col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <form action="/" method="post" class="">
            <div class="form-group">
              <label for="user">Username:</label>
              <input type="text" class="form-control" name="userName">
            </div>

            <div class="form-group">
              <label for="message">Message:</label>
              <textarea class="form-control" rows="5" name="message" maxlength="255"></textarea>
            </div>

            <div id="submit-button">
              <button type="submit" class="btn btn-primary pull-right">submit</button>
            </div>
          </form>
        </div>


  <br>
  <br>

  
  <div class="container">
    <div class="row">

      <div class="hidden-xs hidden-sm">
        <h3>Trending Tweets</h3>
      </div>



      <div class="side-window hidden-xs hidden-sm col-md-4 col-lg-4 col-xl-4">

        <div id="trending-tweets">
          <ul>
            <li><a href="">#thisWebsiteSucks</a></li>
            <li><a href="">#learnHowToCode</a></li>
            <li><a href="">#facebookTips</a></li>
            <li><a href="">#latestGarbage</a></li>
            <li><a href="">#iCantDesignShit</a></li>
          </ul>

      </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <% for (let element of list) { %>
          <div class="post-box">
          <h4><%= element.name %></h4>
          <p><%= element.message %></p>
          <br>
          </div>
        <% }%>
      </div>
    </div>

  <div>













  </body>
</html>
