<%- include('./partials/header.ejs') %>





    <div class="main" >
      <%# <img src="./public/images/jugg.jpg"></img>%>

    <div class="title">
      <span class="title"> Awesome Tweets </span>
    </div>

    </div>

  </body>
</div>
</html>
