
* {
  border-radius: 5px;
  margin: 0;
  font-family: 'Russo One', sans-serif;
}

.main {
    height:100vh;
    width: 100%;
    background: url('../images/home2.jpg') no-repeat center center;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-size: cover;
    /*position: absolute;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
  padding-bottom: 15px;
}

.title {
  color: lightgray;
  font-size: 70px;
  opacity: 60%;
}

li {
  font-size: 18px;
  list-style: none;
}

.trending-tweets {
  margin: 0;
  padding-left: 0
}


#logo {
  float: left;
  /*border-style: solid;*/
  background-color: white;
  border: thin grey solid;
  padding: 10px 10px 10px 10px;
  margin: 15px 20px 0 0;
  height: 60px;
  width: 70px;
}

#submit-button {
  padding-top: 15px;
}
.new-message {
  /*float: right;*/
  box-sizing: border-box;
  border: thin   grey solid;
  /*max-width: 90%;*/
  height: 300px;
  padding: 10px 0 10px 0;
  /*margin: 0 100px 0 100px;*/
}

.post-box {
  background-color: lavender;
  border: thin grey solid;
  padding-left: 15px;
  margin-bottom: 10px;
}

.dashboard {
  /*background-color: skyblue;*/
  position: relative;
  margin-top: 110px;
}
.side-window {
  /*background-color: lightgrey;*/
  border: thin grey solid;
  box-sizing: border-box;
  /*margin: 10px;*/
  width: 100%;
  height: 200px;
}
